DYNAMODB_TABLE_NAME=%DYNAMODB_TABLE_NAME%
SECRET_KEY=%SECRET_KEY%
AWS_REGION=%AWS_REGION%
AWS_ACCESS_KEY_ID=%AWS_ACCESS_KEY_ID%
AWS_SECRET_ACCESS_KEY=%AWS_SECRET_ACCESS_KEY%
AWS_SESSION_TOKEN=%AWS_SESSION_TOKEN%
GRAPHQL_ENDPOINT=%GRAPHQL_ENDPOINT%
GRAPHQL_API_KEY=%GRAPHQL_API_KEY%
