<div class="flex justify-center items-center flex-col">
    <div *ngIf="!this.isBoolean">
        <p class="text-center text-[34px] font-medium font-Brother1816-Bold">Forgot
            Password?</p>
        <p class="w-3/4 mx-auto text-[14px] mb-5 text-[#333333] text-center font-Brother1816-Book">Enter Your Email below and we will send a message to reset your password</p>
        <form [formGroup]="passwordEmailForm">
            <div class="card px-5">
                <div class="card-body">
                    <div class="mb-4">
                        <label class="block mb-1 text-xs font-medium text-gray-700 dark:text-gray-300">Email</label>
                        <ejs-textbox class="py-2 e-bigger" type="email" placeholder="Email" floatLabelType="Never" aria-label="enter your email address" role="textbox" formControlName="email"></ejs-textbox>
                        <div *ngIf="isFieldValid('email')"
                            class="e-error text-[11px] text-[#D72020] font-semibold mt-[5px]">
                            <div *ngIf="passwordEmailForm.get('email')?.hasError('required')">Email is required</div>
                            <div *ngIf="passwordEmailForm.get('email')?.hasError('email')">Invalid email format</div>
                        </div>
                    </div>

                    <div class="m-5 mb-3 text-center">
                        <button
                            class=" text-center rounded-full text-xs py-3 px-[40px] text-[#FFFFFF] bg-primary border-none cursor-pointer font-Brother1816-Book"
                            ejs-button cssClass="e-success"
                            [ngClass]="(passwordEmailForm.invalid)? 'opacity-50 cursor-not-allowed' : 'opacity-100'"
                            [disabled]="passwordEmailForm.invalid" type="submit"
                            (click)="handleResetPassword()">Send</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div *ngIf="isBoolean">
        <h1 class="text-center text-[30px] font-Brother1816-Bold">Create
            New Password
        </h1>
        <p class="w-3/4 mx-auto text-[14px] mb-5 text-[#333333] text-center font-Brother1816-Book">Enter the confirmation code sent
            to your email and create a new, strong
            password that you don’t use for other websites</p>
        <form [formGroup]="passwordCodeForm">
            <div class="card px-5">
                <div class="card-body">
                    <div class="mb-4">
                        <label class="block mb-1 text-xs font-medium text-gray-700 dark:text-gray-300">Code</label>
                        <ejs-textbox class="py-2 e-bigger" placeholder="Code" floatLabelType="Never" formControlName="confirmationCode"></ejs-textbox>
                        <div *ngIf="isFieldValid('confirmationCode')"
                            class="e-error text-[11px] text-[#D72020] font-semibold mt-[5px]">
                            <div *ngIf="passwordCodeForm.get('confirmationCode')?.hasError('required')">
                                Code is required</div>
                            <div *ngIf="passwordCodeForm.get('confirmationCode')?.hasError('pattern')">
                                Enter 6-Digit Code</div>
                        </div>
                    </div>
                    
                    <div class="mb-4 relative">
                        <ejs-tooltip #tooltip id='tooltip' target='.e-info' position='RightCenter' opensOn="Focus">
                            <label class="block mb-1 text-xs font-medium text-gray-700 dark:text-gray-300">Password</label>
                            <ejs-textbox class="py-2 e-bigger e-info" formControlName="newPassword" 
                            [type]="showButton ? 'text' : 'password'" placeholder="New Password" floatLabelType="Never">
                            </ejs-textbox>
                            <ng-template #content class="bg-white">
                                <div class="text-[black] pb-[15px]">Password must
                                    <ul>
                                        <li class="my-[18px]"><span
                                                [ngClass]="passwordCodeForm.controls['newPassword'].value?.match('(.*[0-9].*)') ? 'bg-[#95CD68]' : 'bg-[#D9D9D9]'"
                                                class="inline-flex w-2 h-2 rounded-3xl mr-2"></span>
                                            Have One number</li>
                                        <li class="mb-[18px]"><span class="inline-flex w-2 h-2 rounded-3xl mr-2"
                                                [ngClass]="passwordCodeForm.controls['newPassword'].value?.match('^(?=.*[A-Z])') ? 'bg-[#95CD68]' : 'bg-[#D9D9D9]'"></span>Have
                                            One uppercase character</li>
                                        <li class="mb-[18px]"><span class="inline-flex w-2 h-2 rounded-3xl mr-2"
                                                [ngClass]="passwordCodeForm.controls['newPassword'].value?.match('(?=.*[a-z])') ? 'bg-[#95CD68]' : 'bg-[#D9D9D9]'"></span>Have
                                            One lowercase character</li>
                                        <li class="mb-[18px]"><span class="inline-flex w-2 h-2 rounded-3xl mr-2"
                                                [ngClass]="passwordCodeForm.controls['newPassword'].value?.match('(?=.*[!@#$%^&*])') ? 'bg-[#95CD68]' : 'bg-[#D9D9D9]'"></span>Have
                                            One special character</li>
                                        <li><span class="inline-flex w-2 h-2 rounded-3xl mr-2"
                                                [ngClass]="passwordCodeForm.controls['newPassword'].value?.match('.{14,}') ? 'bg-[#95CD68]' : 'bg-[#D9D9D9]'"></span>Have
                                            minimum 14 characters</li>
                                    </ul>
                                </div>
                            </ng-template>
                            <span class="inline-grid float-right absolute top-[34px] right-3 cursor-pointer">
                                <i class="float-right" [class]="showEye ? 'fa fa-eye' : 'fa fa-eye-slash'"
                                    (click)="showPassword()"></i>
                            </span>
                            <div *ngIf="isFieldValid('newPassword')"
                                class="e-error text-[11px] text-[#D72020] font-semibold mt-[5px]">
                                <div *ngIf="passwordCodeForm.get('newPassword')?.hasError('required')">Password is
                                    required
                                </div>
                            </div>
                        </ejs-tooltip>
                    </div>
                    
                    <div class="mb-4 relative">
                        <label class="block mb-1 text-xs font-medium text-gray-700 dark:text-gray-300">Confirm New Password</label>
                        <ejs-textbox [type]="showCButton ? 'text' : 'password'"
                            placeholder="Confirm New Password" class="py-2 e-bigger"
                            formControlName="confirmPassword" floatLabelType="Never"></ejs-textbox>
                        <span class="inline-grid float-right absolute top-[34px] right-3 cursor-pointer">
                            <i class="float-right" [class]="showCEye ? 'fa fa-eye' : 'fa fa-eye-slash'"
                                (click)="showConfirmPassword()"></i>
                        </span>
                        <div *ngIf="isFieldValid('confirmPassword')"
                            class="e-error text-[11px] text-[#D72020] font-semibold mt-[5px]">
                            <div *ngIf="passwordCodeForm.get('confirmPassword')?.hasError('required')">Enter
                                your confirm password</div>

                        </div>
                        <div class="text-[#dc2626]" *ngIf="passwordCodeForm.errors?.['PasswordNoMatch']">
                            Password did not match </div>
                    </div>

                    <div class="m-5 mb-2 text-center">
                        <button class="text-center rounded-full text-xs py-3 px-[40px] text-[#FFFFFF] bg-primary border-none cursor-pointer font-Brother1816-Book" ejs-button cssClass="e-success" type="submit"
                            [ngClass]="(passwordCodeForm.invalid)? 'opacity-50 cursor-not-allowed' : 'opacity-100'"
                            [disabled]=" passwordCodeForm.invalid" (click)="handleConfirmResetPassword()">Reset my password</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="text-center text-xs  text-[#202020] font-Brother1816-Book mb-4">Back to 
        <span class="text-primary cursor-pointer font-bold" (click)="outputAction('login')">
            Sign in</span>
    </div>
</div>