<div class="protected-container">
    <div class="flex justify-between items-center bg-[#F4F4F4] py-4 px-4 fixed top-0 right-0 left-0">
        <div class="logo cursor-pointer" (click)="navigate('home')">
            <img src="../../assets/logos/member_portal_logo.png" alt="logo" class="w-[100px]">
        </div>
        <div class="nav-links">
            <button ejs-button cssClass="e-inherit font-semibold" (click)="navigate('rx-claims')">RX CLAIMS</button>
            <button ejs-button cssClass="e-inherit font-semibold" (click)="navigate('benefits')">BENIFITS</button>
            <button ejs-button cssClass="e-inherit font-semibold" (click)="navigate('pharmacies')">PHARMACIES</button>
            <button ejs-button cssClass="e-inherit font-semibold" (click)="navigate('policy')">POLICIES</button>
            <!-- <button ejs-button cssClass="e-inherit font-semibold" (click)="navigate('request-pa')">REQUEST PA</button> -->
        </div>
        <div class="login-button">
            <button ejs-button class="e-inherit text-sm font-medium border-2 border-[gray] rounded-full px-4 py-1 uppercase" id="targetButton"  (click)="signOut()">Logout</button>
        </div>
    </div>
    
    <div class="content p-0 mt-[65px]">
        <router-outlet></router-outlet>
    </div>
        
    <footer class="e-footer">
        <div class="e-footer-content">
            <div class="e-footer-left">
                <span>© 2024 Your Company. All rights reserved.</span>
            </div>
            <div class="e-footer-right">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Service</a>
                <a href="#">Contact Us</a>
            </div>
        </div>
    </footer>
</div>
