<div class="protected-container">
    <ejs-appbar colorMode="Primary">
        <!-- <div class="e-appbar-spacer"></div> -->
        <div class="nav-center">
            <button ejs-button cssClass="e-inherit" (click)="navigate('rx-claims')">RX CLAIMS</button>
            <button ejs-button cssClass="e-inherit" (click)="navigate('benefits')">BENIFITS</button>
            <button ejs-button cssClass="e-inherit" (click)="navigate('pharmacies')">PHARMACIES</button>
            <button ejs-button cssClass="e-inherit" (click)="navigate('policy')">POLICIES</button>
            <button ejs-button cssClass="e-inherit" (click)="navigate('request-pa')">REQUEST PA</button>
        </div>
        <button ejs-button cssClass="e-primary" (click)="signOut()">Logout</button>
    </ejs-appbar>
    
    <div class="content">
        <router-outlet></router-outlet>
    </div>
        
    <footer class="e-footer">
        <div class="e-footer-content">
            <div class="e-footer-left">
                <span>© 2024 Your Company. All rights reserved.</span>
            </div>
            <div class="e-footer-right">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Service</a>
                <a href="#">Contact Us</a>
            </div>
        </div>
    </footer>
</div>
