<div class="public-container">
    <ejs-appbar colorMode="Primary">
        <!-- <div class="e-appbar-spacer"></div> -->
        <div class="nav-center">
            <button ejs-button cssClass="e-inherit">Home</button>
            <button ejs-button cssClass="e-inherit" [routerLink]="['/policy']">Policy</button>
            <button ejs-button cssClass="e-inherit" [routerLink]="['/policy']">Users</button>
        </div>
    </ejs-appbar>
    
    <div class="content">
        <router-outlet></router-outlet>
    </div>
        
    <footer class="e-footer">
        <div class="e-footer-content">
            <div class="e-footer-left">
                <span>© 2024 Your Company. All rights reserved.</span>
            </div>
            <div class="e-footer-right">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Service</a>
                <a href="#">Contact Us</a>
            </div>
        </div>
    </footer>
</div>
