<div class="h-screen w-full  landing-bg ">
    <div class="h-1/2 flex justify-center items-center flex-col gap-[14px]">
        <h1 class="text-6xl font-bold text-white">How to create a member portal account</h1>
        <p class="text-3xl font-normal text-white">For the best experience please login now.</p>
        <button ejs-button class="e-inherit text-sm text-white font-bold border-none bg-primary rounded-full px-4 py-3 uppercase" id="targetButton" >DOWNLOAD INSTRUCTION</button>
    </div>
</div>      