
::ng-deep .e-label-top {
    transform: translate3d(5px, -36px, 0) scale(1) !important;
  }
  
  ::ng-deep .e-float-input input {
    height: 52px !important;
    font-size: 16px !important;
    font-family: AvantGardEF-Book, sans-serif !important;
  }
  
  ::ng-deep .e-label-top {
    background: white;
  }
  
  ::ng-deep .cbg-field-required .e-input-group.e-control-wrapper.e-float-input .e-float-text::after {
    content: ' *' !important;
    color: #E74D27;
  }

  ::ng-deep .e-input-group:not(.e-success):not(.e-warning):not(.e-error), .e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error){
    border: 1px solid #E8CDB0 !important;
  }
  
.e-mask-container .e-input-group {
    width: 362px;
    padding: 10px 7px;
}

.e-mask-container .e-input-group input {
    letter-spacing: 5px;
}

.cbg-login-success ::ng-deep .e-dlg-content {
    border-radius: 15px;
}

.cbg-trans-mfa {
    animation-name: slide;
    animation-duration: 1s;
}

@keyframes slide {
    from {
        transform: translate3d(100%, 0, 0);
    }

    to {
        transform: none;
    }
}
