<div class="flex justify-center items-center">
    <div class="min-w-[315px]">
        <div>
            <h1 *ngIf="!isConfirm" class="text-center text-[34px] font-AvantGardEF-Bold">Sign up</h1>
            <p *ngIf="!isConfirm" class="text-[14px] mb-5 text-[#333333] text-center font-AvantGardEF-Book">Sign up with a new account</p>
            <h1 *ngIf="isConfirm" class="text-center text-[34px] font-AvantGardEF-Bold">Confirmation</h1>
        </div>
        <form [formGroup]="signUpForm">
            <div class="card">
                <div class="row" *ngIf="!isConfirm">
                    <div class="mb-4">
                        <label class="block mb-1 text-xs font-medium text-gray-700 dark:text-gray-300">First Name</label>
                        <ejs-textbox class="py-2 e-bigger"  formControlName="firstName" type="text" placeholder="First Name" floatLabelType="Never" role="textbox"></ejs-textbox>
                        <div *ngIf="isFieldValid('firstName') "
                            class="e-error text-[11px] text-[#D72020] font-semibold mt-[5px]">
                            <div *ngIf="signUpForm.get('firstName')?.hasError('required')">First name is
                                required</div>
                            <div *ngIf="signUpForm.get('firstName')?.hasError('minlength')">Minimum 3 characters
                                required</div>
                            <div *ngIf="signUpForm.get('firstName')?.hasError('maxlength')">Maximum 100
                                characters</div>
                            <div *ngIf="signUpForm.get('firstName')?.hasError('pattern')">First name should only
                                contain alphabets </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label class="block mb-1 text-xs font-medium text-gray-700 dark:text-gray-300">Last name</label>
                        <ejs-textbox class="py-2 e-bigger"  formControlName="lastName" type="text" placeholder="Last name" floatLabelType="Never" role="textbox"></ejs-textbox>
                        <div *ngIf="isFieldValid('lastName')"
                        class="e-error text-[11px] text-[#D72020] font-semibold mt-[5px]">
                            <div *ngIf="signUpForm.get('lastName')?.hasError('required')">Last name is required
                            </div>
                            <div *ngIf="signUpForm.get('lastName')?.hasError('minlength')">Minimum 3 characters
                                required</div>
                            <div *ngIf="signUpForm.get('lastName')?.hasError('maxlength')">Maximum 100
                                characters</div>
                            <div *ngIf="signUpForm.get('lastName')?.hasError('pattern')">Last name should only
                                contain
                                alphabets </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label class="block mb-1 text-xs font-medium text-gray-700 dark:text-gray-300">Email</label>
                        <ejs-textbox class="py-2 e-bigger" type="email" placeholder="Email"  formControlName="email" floatLabelType="Never" aria-label="enter your email address" role="textbox"></ejs-textbox>
                        <div *ngIf="isFieldValid('email')"
                            class="e-error text-[11px] text-[#D72020] font-semibold mt-[5px]">
                            <div *ngIf="signUpForm.get('email')?.hasError('required')">Email is required</div>
                            <div *ngIf="signUpForm.get('email')?.hasError('email')">Invalid email format</div>
                        </div>
                    </div>
                    <div class="mb-4 relative">
                        <ejs-tooltip #tooltip id='tooltip' target='.e-info' position='RightCenter' opensOn="Click">
                            <label class="block mb-1 text-xs font-medium text-gray-700 dark:text-gray-300">Password</label>
                            <ejs-textbox class="py-2 e-bigger e-info" formControlName="password" 
                            [type]="showButton ? 'text' : 'password'" placeholder="Password" floatLabelType="Never" aria-label="enter your email password" role="textbox">
                            </ejs-textbox>
                                <ng-template #content>
                                    <div class="text-[black] border-none pb-[15px]">Password must
                                        <ul>
                                            <li class="my-[18px]"><span
                                                    [ngClass]="signUpForm.controls['password'].value?.match('(.*[0-9].*)') ? 'bg-[#95CD68]' : 'bg-[#D9D9D9]'"
                                                    class="inline-flex w-2 h-2 rounded-3xl mr-2"></span>
                                                Have One number</li>
                                            <li class="mb-[18px]"><span class="inline-flex w-2 h-2 rounded-3xl mr-2"
                                                    [ngClass]="signUpForm.controls['password'].value?.match('^(?=.*[A-Z])') ? 'bg-[#95CD68]' : 'bg-[#D9D9D9]'"></span>Have
                                                One uppercase character</li>
                                            <li class="mb-[18px]"><span class="inline-flex w-2 h-2 rounded-3xl mr-2"
                                                    [ngClass]="signUpForm.controls['password'].value?.match('(?=.*[a-z])') ? 'bg-[#95CD68]' : 'bg-[#D9D9D9]'"></span>Have
                                                One lowercase character</li>
                                            <li class="mb-[18px]"><span class="inline-flex w-2 h-2 rounded-3xl mr-2"
                                                    [ngClass]="signUpForm.controls['password'].value?.match('(?=.*[!@#$%^&*])') ? 'bg-[#95CD68]' : 'bg-[#D9D9D9]'"></span>Have
                                                One special character</li>
                                            <li><span class="inline-flex w-2 h-2 rounded-3xl mr-2"
                                                    [ngClass]="signUpForm.controls['password'].value?.match('.{14,}') ? 'bg-[#95CD68]' : 'bg-[#D9D9D9]'"></span>Have
                                                minimum 14 characters</li>
                                        </ul>
                                    </div>
                                </ng-template>
                                <span class="inline-grid float-right absolute top-[34px] right-3 cursor-pointer">
                                    <i class="float-right" [class]="showEye ? 'fa fa-eye' : 'fa fa-eye-slash'"
                                    (click)="showPassword()"></i>
                                </span>
                                <div *ngIf="isFieldValid('password')"
                                class="e-error text-[11px] text-[#D72020] font-semibold mt-[5px]">
                                <div *ngIf="signUpForm.get('password')?.hasError('required')">Password is required
                                </div>
                            </div>
                        </ejs-tooltip>
                    </div>
                </div>
                <div class="m-5 mb-2 text-center" *ngIf="!isConfirm">
                    <button
                        class="text-center rounded-full text-xs py-3 px-[40px] text-[#FFFFFF] bg-primary border-none cursor-pointer font-AvantGardEF-Book"
                        [ngClass]="(signUpForm.invalid)? 'opacity-50 cursor-not-allowed' : 'opacity-100'"
                         ejs-button cssClass="e-success"
                        (click)="createUser()"
                        [disabled]="appService.isLoading || signUpForm.invalid">Sign up</button>
                </div>
                <div  *ngIf="!isConfirm" class="text-center text-xs  text-[#202020] font-AvantGardEF-Book mb-4">
                    Already have an account? <span class="text-primary cursor-pointer font-bold"
                    (click)="outputAction('login')">Sign in</span>
                </div>
                <div class="card-body text-center" *ngIf="isConfirm">
                    <label class="font-AvantGardEF-Book text-sm leading-8"> Register confirmation code sent to your
                        registered email. <br>
                        Please check your email</label>
                    <div class="form-group mt-8">
                        <ejs-maskedtextbox class="text-3xl" id="code" name="code" formControlName="code"
                            mask="0   0   0   0   0   0"></ejs-maskedtextbox>
                        <!-- <div class="e-float-input" [ngClass]="{'e-success': signUpForm.controls['code'].valid}">
                                <input type="text" id="code" name="code" class="required" formControlName="code"
                                    required>
                                <span class="e-float-line"></span>
                                <label class="e-float-text" for="email">Code</label>
                            </div> -->
                        <div *ngIf="isFieldValid('code')" class="e-error">Code is required</div>
                    </div>
                    <div class="m-5 mb-2 text-center">
                        <button
                            class="text-center rounded-full text-xs py-3 px-[40px] text-[#FFFFFF] bg-primary border-none cursor-pointer font-AvantGardEF-Book"
                            (click)="confirmSignUp()" [disabled]="appService.isLoading">Confirm</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>