.e-tooltip-wrap {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0 0 0/ 15%);
}

.e-tooltip-wrap.e-popup {
  background-color: #F9F9F9;
  padding: 10px 20px;
  border-style: none;
}

.e-tooltip-wrap .e-arrow-tip-inner.e-tip-right,
.e-tooltip-wrap .e-arrow-tip-inner.e-tip-left,
.e-tooltip-wrap .e-arrow-tip-inner.e-tip-bottom,
.e-tooltip-wrap .e-arrow-tip-inner.e-tip-top,
.e-tooltip-wrap .e-arrow-tip-outer.e-tip-right {
  color: #f9f9f9;
}

.e-float-input.e-control-wrapper label.e-float-text {
  color: blue !important;
}

/* To specify font size and color */
.e-float-input.e-control-wrapper:not(.e-error) input:valid~label.e-float-text,
.e-float-input.e-control-wrapper:not(.e-error) input~label.e-label-top.e-float-text {
  color: pink;
}

.e-mask-container .e-input-group {
  width: 362px;
  padding: 10px 7px;
}

.e-mask-container .e-input-group input {
  letter-spacing: 5px;
}

::ng-deep .e-label-top {
  transform: translate3d(5px, -36px, 0) scale(1) !important;
}

::ng-deep .e-float-input input {
  height: 52px !important;
  font-size: 16px !important;
  font-family: AvantGardEF-Book, sans-serif !important;
}

::ng-deep .e-label-top {
  background: white;
}

::ng-deep .cbg-field-required .e-input-group.e-control-wrapper.e-float-input .e-float-text::after {
  content: ' *' !important;
  color: #E74D27;
}