<div class="public-container relative">
    <div class="flex justify-between items-center bg-[#ffffff] py-4 px-4 fixed top-0 right-0 left-0">
        <div class="logo cursor-pointer" (click)="navigate('public')">
            <img src="../../assets/logos/member_portal_logo.png" alt="logo" class="w-[100px]">
        </div>
        <div class="nav-links">
            <button ejs-button cssClass="e-inherit font-semibold"  (click)="navigate('public/pharmacies')">PHARMACIES</button>
            <button ejs-button cssClass="e-inherit font-semibold"  (click)="navigate('public/policy')">POLICIES</button>
        </div>
        <div class="login-button">
            <button ejs-button class="e-inherit text-sm font-medium border-2 border-[gray] rounded-full px-4 py-1 uppercase" id="targetButton" (click)="showDialog('login')">Member Login</button>
        </div>
    </div>
    
    <div class="content p-0 mt-[65px]">
        <router-outlet></router-outlet>
    </div>
    <footer class="e-footer">
        <div class="e-footer-content">
            <div class="e-footer-left">
                <span>© 2024 Your Company. All rights reserved.</span>
            </div>
            <div class="e-footer-right">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Service</a>
                <a href="#">Contact Us</a>
            </div>
        </div>
    </footer>
    <ejs-dialog id='dialog' #ejDialog target=".public-container" [visible]="false" [showCloseIcon]='true' [isModal]="true"
        width='400px' class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 border-none rounded-xl overflow-hidden">
        <ng-template #content>
            <div *ngIf="displayComponent == 'login'">
                <app-login (action)="showDialog($event)" (close)="closeDialog($event)"></app-login>
            </div>
            <div *ngIf="displayComponent == 'register'">
                <app-register (action)="showDialog($event)"></app-register>
            </div>
            <div *ngIf="displayComponent == 'forgot-password'">
                <app-forgot-password (action)="showDialog($event)"></app-forgot-password>
            </div>
        </ng-template>
    </ejs-dialog>
</div>
